/*
QuynhTM add
CSS cho phần admin
*/
/*
CSS dành cho phần sản phẩm
*/
.red{color: #B40C0B!important;}
.green{color: green}
.div_hover_image{position: absolute; bottom: 30px; left: 40px; border: 2px solid #ccc; padding: 5px; background: #F4F9FF; z-index: 1000; display: none; height: 215px; width: 215px}
.img_hover{width: 200px; height: 200px}
.relative{position: relative}
.border_header_shop {border-right: 1px solid #575c7f; height: 18px; float: right; margin-left: 10px}
.avatar_header_shop {height: 20px; width: 20px; float: left; margin-right: 5px;}

.marginTop10{margin-top: 10px}
.marginTop20{margin-top: 20px}

.marginLeft10{margin-left: 10px}
.marginLeft20{margin-left: 20px}

.marginRight40{margin-right: 40px}

.text-indent-40{ text-indent: 40px}

.width100{width: 100%}
.width30{width:30%}

.font_normal{font-weight: normal!important;}

.font_11{font-size: 11px!important;}
.font_14{font-size: 13px!important;}

.icons-done{width: 16px; height: 16px; background-image: ''}

.imgeProduct{width: 230px;height: 230px}
.imgeProductOther{width: 100px; height: 100px}

.block_pagging{width: 100%; clear: both}
.div_title{font-weight: bold; margin: 15px 0px;}
.div_pagging{}

.font_bold{font-weight: bold;}
.float-right{float: right}
.text-center.text-middle{vertical-align:middle!important;}
.actionTag{background: #ED9C28!important; color: #fff!important;height: 45px }
.noActionTag{border-color: #eee #eee #ddd; background-color:#eee; margin-bottom: 2px; margin-top: 4px}

/* show icon cho admin
---------------------------------------------------------------------------------*/
.icon_delete{background-image: url("../img/icons/delete_button.gif"); width: 20px; height: 20px; display: block; margin: 0 auto;}
.icon_edit{background-image: url("../img/icons/edit-icon.png"); width: 16px; height: 16px; float: left;}

.icon_false{background-image: url("../img/icons/hourglass.png"); width: 16px; height: 16px; float: left;}
.icon_done{background-image: url("../img/icons/handshake.png"); width: 16px; height: 16px; float: left;}

.payment_online{background-image: url("../img/icons/cart.png"); width: 16px; height: 16px; float: left;}
.payment_shop{background-image: url("../img/icons/house_go.png"); width: 16px; height: 16px; float: left;}
.payment_cod{background-image: url("../img/icons/ship_done.png"); width: 16px; height: 16px; float: left;}

.delivery_shop{background-image: url("../img/icons/house_go.png"); width: 16px; height: 16px; float: left;}
.delivery_cod{background-image: url("../img/icons/chang-cabin.png"); width: 16px; height: 16px; float: left;}

.action_put{background-image: url("../img/icons/archive_item.jpg"); width: 20px; height: 20px; float: left;}

/*icons moi*/
.img_icons_order{width: 20px; height: 20px;}

/* Admin Page Home
---------------------------------------------------------------------------------*/
.show_page_home{margin: 0 auto; width: 50%;}

.pageHomeTop{float: left; width: 100%; height: 300px; border: 1px solid #ccc}

/* Debug
---------------------------------------------------------------------------------*/
.debugging #page-content{
    padding-bottom: 0;
}
.debugging #mod-footer{
    position: static;
}
table.pupop_show_log_orders, table.pupop_show_log_orders th, table.pupop_show_log_orders td {
    border: 1px solid #ccc;
    border-collapse: collapse;
}
table.pupop_show_log_orders th { text-align: center; }
table.pupop_show_log_orders th, table.pupop_show_log_orders td { padding: 2px 5px; }

.create-deals .head {
    background: none repeat scroll 0 0 #242634;
    color: #fff;
    height: 48px;
    padding: 0;
}
.create-deals .head .step {
    float: left;
    margin: 6px 100px 0 20px;
}
.create-deals .head .step:first-child {
    margin-left: 10px;
}
.create-deals .head .step-num {
    background: none repeat scroll 0 0 #fff;
    border-radius: 50%;
    color: #242634;
    float: left;
    font-size: 1.38462em;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    margin-right: 9px;
    text-align: center;
    width: 35px;
}
.create-deals .step.active .step-num {
    background: none repeat scroll 0 0 #f0d70b;
}
.create-deals .head .step-val {
    float: left;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 40px;
}
.create-deals .step.active .step-val {
    font-weight: 700;
}
.create-deals .popup-title {
    background: none repeat scroll 0 0 #242634;
    border-bottom: 3px solid #f0ad4e;
    color: #fff;
    font-size: 13px;
    padding: 10px 20px;
}
.create-deals .foot {
    background: url("../images/v2-step-order.png") no-repeat scroll 20px 11px #f7f7f7;
    border-top: 1px solid #e5e2df;
    color: #111;
    font-size: 0.923077em;
    height: 99px;
    padding: 24px 20px 0 0;
}
.create-deals .foot .hotline {
    font-size: 1.5em;
    font-weight: 600;
    padding-top: 5px;
}
.create-deals .content-pop {
}
.create-deals .tit-form {
    font-size: 1.38462em;
    font-weight: 600;
    margin-bottom: 25px;
}
.create-deals .grp-opt {
    border-bottom: 1px solid #e7ebed;
}
.create-deals .lbl-opt {
    background: none repeat scroll 0 0 #fff;
    border-left: 3px solid #fff;
    display: block;
    padding: 14px 10px 17px 50px;
    position: relative;
    transition: background 0.3s ease 0s, border 0.3s ease 0s;
}
.create-deals .lbl-opt.active, .create-deals .lbl-opt:hover {
    background: none repeat scroll 0 0 #fffdef;
    border-color: #f36362;
}
.create-deals .lbl-opt.step-2.active, .create-deals .lbl-opt.step-2:hover {
    background: none repeat scroll 0 0 #fff;
    border-color: #fff;
}
.create-deals .lbl-opt .radio-opt {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
}
.create-deals .lbl-opt .icon-radio-p {
    -moz-appearance: none;
    background: none repeat scroll 0 0 #fff;
    border: 2px solid #71769d;
    border-radius: 50%;
    height: 20px;
    left: 17px;
    position: absolute;
    top: 17px;
    width: 20px;
}
.create-deals .lbl-opt .icon-radio-p:before {
    background: none repeat scroll 0 0 #71769d;
    border-radius: 50%;
    content: "";
    height: 6px;
    left: 5px;
    opacity: 0;
    position: absolute;
    top: 5px;
    transition: opacity 0.3s ease 0s;
    width: 6px;
}
.create-deals .lbl-opt .radio-opt:checked ~ .icon-radio-p:before {
    opacity: 1;
}
.create-deals .val-opt {
    font-size: 1.07692em;
    font-weight: 700;
    line-height: 1.6em;
}
.create-deals .grp-address-shop {
    background: none repeat scroll 0 0 #fffdef;
    border: 1px solid #f2e9d3;
    display: none;
    margin: 15px 10px 0 0;
    padding: 12px 0 0 14px;
}
.create-deals .lbl-opt .radio-opt:checked ~ .grp-address-shop {
    display: block;
}
.create-deals .title-address-near {
    display: block;
    font-size: 1.07692em;
    font-weight: 600;
}
.info-deal { margin: 20px 0; font-size: 14px; font-weight: bold; }
.title-option { font-size: 14px; font-weight: bold }
.sms-content { font-size: 16px; font-weight: bold; color: #970000 }
.guide-setting-auto { font-size: 14px; }

/*QuynhTM add
    Block anh san pham
*/
.ul_drag_sort { margin:0px; padding:0px; margin-left:20px; }
#sys_drag_sort{ width:100%; list-style-type:none; margin:0px; }
#sys_drag_sort li{ float:left; padding:5px; width:130px; margin:5px;}
.block_img_upload{margin: 5px 10px 5px 0;padding:6px; width: 130px;overflow-x:hidden;float: left;text-align:center;border: 1px solid #eee;}